header{
    margin-left: 89px;
    margin-top: 69px;
}

.gfg{

    font-size: 36px;
    font-weight: 700;
    
    color: #4E6FAE;
    

}

.tgfg{

 
    font-size: 20px;
    font-weight: 400;

 
    

}

.cc{
    
font-size: 20px;
font-weight: 400;


}

.fg{
    
 
font-size: 20px;
font-weight: 400;





}

.lopo{
    margin-left: 82px;
    margin-top: 400px;
}