.l{
    color:  #8D81FF;
    font-size: 24px;
    font-weight: 400px;
    margin-top: 22px;
}

.k{
margin-left: -40px;
}

header{
    margin-left: 104px;
    font-size: 24px;
    font-weight: 400px;
    margin-left: 104px;
}


.c{
    color: #4E6FAE;
 font-size: 20px;
 margin-left: 104px;
 font-weight: 700px;
}

.lop{
    width: 1021px;
    margin-left: 104px;
    color:#4E6FAE ;
    
}

.d{
    width: 1021px;
    margin-left: 104px;
    color:#4E6FAE ;

}

.gj{
    width: 1000px;
    margin-left: 104px;
    color:#4E6FAE ;

}

.kl{
    margin-left: 104px;
}

.ds{
    margin-left: 104px;
margin-top: 37px;

}

.fd{
    margin-left: 104px;
    font-size: 24px;
    font-weight: 400px;
    margin-left: 104px;
    margin-top: -80px;
}

.hj{
    color:  #8D81FF;
    font-size: 24px;
    font-weight: 400px;
    margin-top: 22px;
    margin-left: 104px;
}

.klf{
margin-left: 104px;
font-size: 20px;
font-weight: 400px;
color:  #4E6FAE;

}


.hkl{
    margin-left: 104px;
}

.ty{
    width: 1021px;
    font-size: 16px;
    font-weight: 400px ;
   margin-left: 104px;
   color:#4E6FAE ;

}

.mg{
    margin-left: 104px;
    margin-top: 51px;
}

.gh{
font-size:24px ;
font-weight: 400px;
margin-left: 104px;
color: #8D81FF;

}

.jl{
    font-size:20px ;
    font-weight: 700px;
    margin-left: 104px;
    color:  #4E6FAE;
    
      
}

.tu{
    margin-left: 104px;
}


.io{
    width: 1021px;
    color:#4E6FAE ;
margin-left: 104px;

}

.lopi{
    margin-left: 104px;
    margin-top: 39px;
}